<footer>
    <div class="wrapper">
        <p class="text-info">
            © CliffCard Corp. (CCC) </br> Zanker road, San Jose, California (USA), 2020.</br>  По всем вопросам Вы можете обращаться в </br>
            <a href="#">Службу поддержки</a>
        </p>
        <div class="social">
            <a class="youtube" href=""><img src="./images/youtube.svg" alt="youtube"></a>
            <a class="facebook" href=""><img src="./images/facebook.svg" alt="facebook"></a>
        </div>
    </div>
</footer>