<div class="about">
    <div class="wrapper wrapper-m">
        <h1 class="title">Чем важен CliffCard</h1>
        <div class="subtitle">именно для Вас можете узнать, если выберите одну из карт </div>
        <div class="cards">
            <a href="" class="card-item">
                <span class="card-name-wrap"><span class="card-name card-name-1">CLASSIC</span></span>
                <span class="card-price">12$<span>/год</span></span>
                <span class="card-desc">Госслужащим, студентам, <br> пенсионерам и тем, кому важна<br> экономия средств</span>
            </a>
            <a href="" class="card-item">
                <span class="card-name-wrap"><span class="card-name card-name-2">GOLD</span></span>
                <span class="card-price">120$<span>/год</span></span>
                <span class="card-desc">Бизнесменам,<br> сотрудникам компаний, тем,<br> кому важен комфорт </span>
            </a>
            <a href="" class="card-item">
                <span class="card-name-wrap"><span class="card-name card-name-3">PLATINUM</span></span>
                <span class="card-price">1200$<span>/год</span></span>
                <span class="card-desc">Крупным бизнесменам,<br> политикам. Для любителей <br>максимального комфорта </span>
            </a>
            <a href="" class="card-item">
                <span class="card-name-wrap"><span class="card-name card-name-4">CORPORATE</span></span>
                <span class="card-price">12$ - 1200$<span>/год</span></span>
                <span class="card-desc">Юридическим лицам. Тем, кто хочет<br> повысить эффективность своей<br> компании</span>
            </a>
        </div>
        <p class="medium-text">Карту может приобрести каждый владелец карты Mastercard (но только от одного банка, которій является партнером CliffCard в Вашей стране)</p>
        <p class="medium-text">Гарантируем Вам экономию более той суммы, которую Вы тратите за обслуживание КлиффКард, или вернем Вам деньги!</p>
    </div>
</div>