<div class="main-section">
    <div class="wrapper wrapper-l">
        <div class="main-section-layout">
            <div class="main-section-cnt">
                <div class="info-section section-cnt section-cnt-noright">
                    <div class="catalog-country">
                        <div class="country-img"><img src="./images/ukraine.png" alt="ukraine"></div>
                        <div class="lang-trigger link-trigger">
                            <div class="lang-active">Украина <img src="./images/arrow-bottom.svg" alt="arrow-bottom"></div>
                            <div class="lang-select">
                                <a href="./menu.html">Украина</a>
                                <a href="./menu.html">Украина</a>
                                <a href="./menu.html">Украина</a>
                            </div>
                        </div>
                        <div class="lang-trigger link-trigger">
                            <div class="lang-active">Киев <img src="./images/arrow-bottom.svg" alt="arrow-bottom"></div>
                            <div class="lang-select">
                                <a href="./menu.html">Киев</a>
                                <a href="./menu.html">Киев</a>
                                <a href="./menu.html">Киев</a>
                            </div>
                        </div>
                    </div>
                    <h1 class="section-title">Апартаменты и дома</h1>
                    <div class="section-texts">
                        <p class="paragraph-text">
                            Для того, чтоб Вы не искали подходящий для Вас вариант жилья, на что уходит не мало <br> времени - мы подберём Вам варианты жилья сами, исходя из Ваших запросов. Мы обзвоним <br> все возможные варианты, проверим надежность хозяина квартиры и исправность  <br>коммуникаций, техники, после чего сообщим Вам варианты. Время ожидания: 45 минут. 
                        </p>
                    </div>
                    <form class="" action="#">
                        <div class="form-title form-title-m">Заполните, пожалуйста анкету</div>
                        <div class="form-section">
                            <div class="form-section-item">
                                <input type="text" name="house-type" class="form-item" placeholder="Тип жилья (Например: Квартира, Дом)">
                            </div>
                            <div class="form-section-item">
                                <input type="text" name="data-out" class="datepicker form-item" placeholder="Дата выезда:">
                            </div>
                            <div class="form-section-item">
                                <input type="text" name="district" class="form-item" placeholder="Район (Можем подобрать для Вас мы) ">
                            </div>
                            <div class="form-section-item form-section-item-price">
                                <p>Желаемая стоимость за период: </p>
                                <div>
                                    <p>от:</p>
                                    <input type="text" name="price-start" class="form-item">
                                </div>
                                <div>
                                    <p>до:</p>
                                    <input type="text" name="price-end" class="form-item">
                                </div>
                            </div>
                            <div class="form-section-item">
                                <input type="text" name="data-in" class="datepicker form-item" placeholder="Дата заезда:">
                            </div>
                            <div class="form-section-item">
                                <input type="number" name="peoples" class="form-item" placeholder="Количество человек: ">
                            </div>
                            <div class="form-section-item form-section-item-comment">
                                <label class="form-row">
                                    <input type="text" name="comment" class="form-item">
                                    <span>Комментарий: (Например, нужен высокоскоростной интернет, или ищете жильё недалеко от какой-то улицы)</span>
                                </label>
                            </div>
                            <input class="btn btn-red btn-submit" type="submit" value="Отправить">
                        </div>
                    </form>
                </div>
            </div>
            //= ./leftsidebar.html
        </div>
    </div>
</div>