<div class="main-section">
    <div class="wrapper wrapper-l">
        <div class="main-section-layout">
            <div class="main-section-cnt">
                <div class="section-sell section-cnt section-cnt-noright">
                    <div class="catalog-country">
                        <div class="country-img"><img src="./images/ukraine.png" alt="ukraine"></div>
                        <div class="lang-trigger">
                            <div class="lang-active">Украина <img src="./images/arrow-bottom.svg" alt="arrow-bottom"></div>
                            <div class="lang-select">
                                <a href="#">Украина</a>
                                <a href="#">Украина</a>
                                <a href="#">Украина</a>
                            </div>
                        </div>
                        <div class="lang-trigger">
                            <div class="lang-active">Киев <img src="./images/arrow-bottom.svg" alt="arrow-bottom"></div>
                            <div class="lang-select">
                                <a href="#">Киев</a>
                                <a href="#">Киев</a>
                                <a href="#">Киев</a>
                            </div>
                        </div>
                    </div>
                    <h1 class="section-title">Вариация карточек</span></h1>
                    <div class="breadcrumps">
                        <a href="./index.html">Главная</a>
                        <span class="breadcrumps-line">|</span>
                        <span>Вариация карточек</span>
                    </div>
                    <div class="section-sell">
                        <div class="section-sell-cnt">
                            <div class="section-sell-cnt-row">
                                <div class="section-title-m">Заведения</div>
                                <div class="section-sell-items">
                                    <div class="hotel">
                                        <div class="hotel-cnt">
                                            <div class="hotel-head">
                                                <a href="#" class="hotel-title">Sheraton <br><span>~ 329$</span></a>
                                                <a href="#" class="hotel-map">Google maps</a>
                                            </div>
                                            <p class="hotel-text">Скоро открытие</p>
                                            <a href="#" class="btn btn-red btn-exercise">Дать задание</a>
                                        </div>
                                        <div class="hotel-img">
                                            <img src="./images/hotels-img-4.png" alt="hotels-img">
                                            <span class="mark-item">Цена/качество</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="section-sell-cnt-row">
                                <div class="section-title-m">Доставка</div>
                                <div class="section-sell-items">
                                    <div class="section-sell-item">
                                        <div class="section-sell-item-cnt">
                                            <div class="section-sell-item-head section-sell-item-head-between">
                                                <a href="#" class="section-sell-item-title">
                                                    Салат де маш <br><span class="red-text">~ 125 uah  </span> <span class="throw-text">150 uah</span>
                                                </a>
                                                <a href="#" class="section-sell-item-weight">135 гр</a>
                                            </div>
                                            <p class="section-sell-item-text">Сыр-крем, вяленые томаты, маринованый рататуй, микс салата и руккола, помидоры черри.</p>
                                            <div class="section-sell-buttons">
                                                <a href="#" class="btn btn-red">Заказать</a>
                                                <a href="#" class="comparison-btn">
                                                    <svg width="22" height="21" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 376.4 356.48"><defs><style>.cls-1{fill:#fff;}</style></defs><g><g><path class="cls-1" d="M375.76,181.36l-.32.16-54-134.4h24.64a8,8,0,0,0,0-16H195.52V8a8,8,0,0,0-16,0V31H29a8,8,0,0,0,0,16H54.72L.64,181.36a8,8,0,0,0-.64,3,66.52,66.52,0,0,0,133,0,8,8,0,0,0-.64-3L78.4,47H179.52V294.32c-38.16,2.88-68,26.08-68,54.16a8,8,0,0,0,8,8h136a8,8,0,0,0,8-8c0-28.08-29.84-51.28-68-54.16V47H297.68L244,181.36a8,8,0,0,0-.64,3,66.52,66.52,0,0,0,133,0A8,8,0,0,0,375.76,181.36ZM66.48,235a50.56,50.56,0,0,1-49.84-42.48H116A50.56,50.56,0,0,1,66.48,235Zm46.64-58.48H20L66.64,60.4Zm133,164H128.88C134.8,323.28,159.2,310,187.44,310S240.16,323.28,246.08,340.48Zm63.44-280,46.48,116H262.88Zm0,174.48V235A50.56,50.56,0,0,1,260,192.48h99.36A50.56,50.56,0,0,1,309.52,235Z"/></g></g></svg>
                                                    <span>Добавить к  <br> сравнению</span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="section-sell-item-img">
                                            <img src="./images/eat-img-1.png" alt="hotels-img">
                                            <span class="mark-item orange-mark">Torantino</span>
                                            <span class="star-item active">
                                                <svg class="star-item-active" width="31" height="31" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 511.22"><g><g><path d="M118.92,326.9l-27,165.7a16,16,0,0,0,23.53,16.58L256,431.48l140.59,77.72c11.52,6.4,25.71-3.29,23.53-16.58l-27-165.7L507.44,209.72a16,16,0,0,0-9-27l-157.4-24L270.47,8.42c-5.27-11.22-23.68-11.22-28.95,0L171,158.67l-157.4,24a16,16,0,0,0-9,27Z"/></g></g></svg>
                                                <svg class="star-item-noactive" width="31" height="31"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 511.98 511.2"><g><g><path d="M118.91,326.92l-27,165.7a16,16,0,0,0,23.53,16.58L256,431.5l140.59,77.72a16.21,16.21,0,0,0,7.74,2,16,16,0,0,0,15.79-18.58l-27-165.7L507.43,209.72a16,16,0,0,0-9-27l-157.4-24L270.46,8.42c-5.27-11.22-23.68-11.22-28.95,0L171,158.69l-157.4,24a16,16,0,0,0-9,27ZM184.25,189a16,16,0,0,0,12.05-9L256,52.85,315.68,180a15.94,15.94,0,0,0,12.05,9L462.8,209.63,364.56,310.33a16,16,0,0,0-4.35,13.76l23,141.16-119.51-66a16.11,16.11,0,0,0-7.74-2,15.88,15.88,0,0,0-7.74,2l-119.51,66,23-141.16a16,16,0,0,0-4.35-13.76L49.19,209.63Z"/></g></g></svg>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="section-sell-item">
                                        <div class="section-sell-item-cnt">
                                            <div class="section-sell-item-head section-sell-item-head-between">
                                                <a href="#" class="section-sell-item-title">Салат де маш <br><span>~ 125 uah  </span></a>
                                                <a href="#" class="section-sell-item-weight">135 гр</a>
                                            </div>
                                            <p class="section-sell-item-text">Сыр-крем, вяленые томаты, маринованый рататуй, микс салата и руккола, помидоры черри.</p>
                                            <a href="#" class="btn btn-red">Заказать</a>
                                        </div>
                                        <div class="section-sell-item-img">
                                            <img src="./images/eat-img-1.png" alt="hotels-img">
                                            <span class="star-item active">
                                                <svg class="star-item-active" width="31" height="31" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 511.22"><g><g><path d="M118.92,326.9l-27,165.7a16,16,0,0,0,23.53,16.58L256,431.48l140.59,77.72c11.52,6.4,25.71-3.29,23.53-16.58l-27-165.7L507.44,209.72a16,16,0,0,0-9-27l-157.4-24L270.47,8.42c-5.27-11.22-23.68-11.22-28.95,0L171,158.67l-157.4,24a16,16,0,0,0-9,27Z"/></g></g></svg>
                                                <svg class="star-item-noactive" width="31" height="31"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 511.98 511.2"><g><g><path d="M118.91,326.92l-27,165.7a16,16,0,0,0,23.53,16.58L256,431.5l140.59,77.72a16.21,16.21,0,0,0,7.74,2,16,16,0,0,0,15.79-18.58l-27-165.7L507.43,209.72a16,16,0,0,0-9-27l-157.4-24L270.46,8.42c-5.27-11.22-23.68-11.22-28.95,0L171,158.69l-157.4,24a16,16,0,0,0-9,27ZM184.25,189a16,16,0,0,0,12.05-9L256,52.85,315.68,180a15.94,15.94,0,0,0,12.05,9L462.8,209.63,364.56,310.33a16,16,0,0,0-4.35,13.76l23,141.16-119.51-66a16.11,16.11,0,0,0-7.74-2,15.88,15.88,0,0,0-7.74,2l-119.51,66,23-141.16a16,16,0,0,0-4.35-13.76L49.19,209.63Z"/></g></g></svg>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="section-sell-cnt-row">
                                <div class="section-title-m">Заведения</div>
                                <div class="section-sell-items">
                                    <div class="hotel">
                                        <div class="hotel-cnt">
                                            <div class="hotel-head">
                                                <a href="#" class="hotel-title">Sheraton <br><span>~ 329$</span></a>
                                                <a href="#" class="hotel-map">Google maps</a>
                                            </div>
                                            <p class="hotel-text">Скоро открытие</p>
                                            <a href="#" class="btn btn-red btn-exercise">Дать задание</a>
                                        </div>
                                        <div class="hotel-img">
                                            <img src="./images/hotels-img-4.png" alt="hotels-img">
                                            <span class="mark-item">Цена/качество</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="section-sell-cnt-row">
                                <div class="section-title-m">Услуги</div>
                                <div class="section-sell-items">
                                    <div class="section-sell-item">
                                        <div class="section-sell-item-cnt">
                                            <div class="section-sell-item-head section-sell-item-head-between">
                                                <a href="#" class="section-sell-item-title">НЯНЯ НА ЧАС </a>
                                            </div>
                                            <p class="section-sell-item-text">Где же можно найти няню с почасовой оплатой в Киеве? Рассмотрим разные варианты.</p>
                                            <a href="#" class="btn btn-red">Подробнее</a>
                                        </div>
                                        <div class="section-sell-item-img">
                                            <img src="./images/eat-img-5.png" alt="hotels-img">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="section-sell-cnt-row">
                                <div class="section-title-m">Магазины</div>
                                <div class="section-sell-items">
                                    <div class="section-sell-item">
                                        <div class="section-sell-item-cnt">
                                            <div class="section-sell-item-head section-sell-item-head-between">
                                                <a href="#" class="section-sell-item-title">
                                                    Салат де маш <br><span class="red-text">~ 125 uah  </span> <span class="throw-text">150 uah</span>
                                                </a>
                                                <a href="#" class="section-sell-item-weight">135 гр</a>
                                            </div>
                                            <p class="section-sell-item-text">Сыр-крем, вяленые томаты, маринованый рататуй, микс салата и руккола, помидоры черри.</p>
                                            <div class="section-sell-buttons">
                                                <a href="#" class="btn btn-red">Заказать</a>
                                                <a href="#" class="comparison-btn">
                                                    <svg width="22" height="21" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 376.4 356.48"><defs><style>.cls-1{fill:#fff;}</style></defs><g><g><path class="cls-1" d="M375.76,181.36l-.32.16-54-134.4h24.64a8,8,0,0,0,0-16H195.52V8a8,8,0,0,0-16,0V31H29a8,8,0,0,0,0,16H54.72L.64,181.36a8,8,0,0,0-.64,3,66.52,66.52,0,0,0,133,0,8,8,0,0,0-.64-3L78.4,47H179.52V294.32c-38.16,2.88-68,26.08-68,54.16a8,8,0,0,0,8,8h136a8,8,0,0,0,8-8c0-28.08-29.84-51.28-68-54.16V47H297.68L244,181.36a8,8,0,0,0-.64,3,66.52,66.52,0,0,0,133,0A8,8,0,0,0,375.76,181.36ZM66.48,235a50.56,50.56,0,0,1-49.84-42.48H116A50.56,50.56,0,0,1,66.48,235Zm46.64-58.48H20L66.64,60.4Zm133,164H128.88C134.8,323.28,159.2,310,187.44,310S240.16,323.28,246.08,340.48Zm63.44-280,46.48,116H262.88Zm0,174.48V235A50.56,50.56,0,0,1,260,192.48h99.36A50.56,50.56,0,0,1,309.52,235Z"/></g></g></svg>
                                                    <span>Добавить к  <br> сравнению</span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="section-sell-item-img">
                                            <img src="./images/eat-img-1.png" alt="hotels-img">
                                        </div>
                                    </div>
                                    <div class="section-sell-item">
                                        <div class="section-sell-item-cnt">
                                            <div class="section-sell-item-head section-sell-item-head-between">
                                                <a href="#" class="section-sell-item-title">Салат де маш <br><span>~ 125 uah  </span></a>
                                                <a href="#" class="section-sell-item-weight">135 гр</a>
                                            </div>
                                            <p class="section-sell-item-text">Сыр-крем, вяленые томаты, маринованый рататуй, микс салата и руккола, помидоры черри.</p>
                                            <a href="#" class="btn btn-red">Заказать</a>
                                        </div>
                                        <div class="section-sell-item-img">
                                            <img src="./images/eat-img-1.png" alt="hotels-img">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="section-sell-cnt-row">
                                <div class="section-title-m">Аренда</div>
                                <div class="section-sell-items">
                                    <div class="section-sell-item">
                                        <div class="section-sell-item-cnt">
                                            <div class="section-sell-item-head section-sell-item-head-between">
                                                <a href="#" class="section-sell-item-title">Аренда авто с водителем </a>
                                            </div>
                                            <p class="section-sell-item-text"></p>
                                            <div class="section-sell-buttons">
                                                <a href="#" class="btn btn-red btn-exercise">Дать заказ</a>
                                            </div>
                                        </div>
                                        <div class="section-sell-item-img">
                                            <img src="./images/eat-img-1.png" alt="hotels-img">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="section-sell-cnt-row">
                                <div class="section-title-m">Топ</div>
                                <div class="section-sell-items">
                                    <div class="section-sell-item">
                                        <div class="section-sell-item-cnt">
                                            <div class="section-sell-item-head section-sell-item-head-between">
                                                <a href="#" class="section-sell-item-title">Новый кана́л</a>
                                            </div>
                                            <p class="section-sell-item-text">Украинский развлекательный телеканал.</p>
                                            <div class="section-sell-buttons">
                                                <a href="#" class="btn btn-blue">Перейти</a>
                                            </div>
                                        </div>
                                        <div class="section-sell-item-img">
                                            <img src="./images/eat-img-1.png" alt="hotels-img">
                                        </div>
                                    </div>
                                    <div class="section-sell-item">
                                        <div class="section-sell-item-cnt">
                                            <div class="section-sell-item-head section-sell-item-head-between">
                                                <a href="#" class="section-sell-item-title">Уильям Шекспир <br><span>~ 125 uah  </span> 
                                                </a>
                                                <a href="#" class="section-sell-item-weight">250 ст</a>
                                            </div>
                                            <p class="section-sell-item-text">Собрание сочинений в одной книге  (сборник) </p>
                                            <a href="#" class="btn btn-red">Заказать</a>
                                        </div>
                                        <div class="section-sell-item-img">
                                            <img src="./images/eat-img-1.png" alt="hotels-img">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="section-sell-cnt-row">
                                <div class="info-list">
                                    <div class="info-list-item">
                                        <a href="#" class="info-list-item-title">Афиша</a>
                                        <div class="info-list-item-subtitle">Интересные мероприятия Киева, Украины и Мира</div>
                                        <div class="info-card-wrap">
                                            <a href="" class="info-card">
                                                <span class="info-card-img">
                                                    <img src="./images/card-img-1.png" alt="card-img">
                                                </span>
                                                <span class="info-card-cnt">
                                                    <span class="info-card-title">Премьера</span>
                                                    <span class="info-card-text">Двадцать пятый фильм <br> из серии фильмов о <br> Джеймсе Бонде.</span>
                                                    <span class="info-card-text">Мировая премьера <br>запланирована <br>на 3 апреля 2020 года. </span>
                                                </span>
                                            </a>
                                            <a href="#" class="btn btn-blue">Другие предложения</a>
                                        </div>
                                    </div>
                                    <div class="info-list-item">
                                        <a href="#" class="info-list-item-title">Клифф ТУР </a>
                                        <div class="info-list-item-subtitle">Отправляем в любую точку планеты!</div>
                                        <div class="info-card-wrap">
                                            <a href="" class="info-card">
                                                <span class="info-card-img">
                                                    <img src="./images/card-img-2.png" alt="card-img">
                                                </span>
                                                <span class="info-card-cnt">
                                                    <span class="info-card-title">Отдых в Египте</span>
                                                    <span class="info-card-text">7 ночей,  <br> Всё включено.</span>
                                                </span>
                                            </a>
                                            <a href="#" class="btn btn-blue">Другие предложения</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            //= ./leftsidebar.html
        </div>
    </div>
</div>