<div class="card-forms">
    <div class="wrapper wrapper-m">
        <div class="varified">
            Verified by <span>Cliff </span><span>Card</span> Corp.
        </div>
        <h1 class="title">Как заказать карту</h1>
        <div class="subtitle">Карта будет выслана Вам при условии наличия у Вас карты Mastercard™, выданной <br>нашим банком-партнером. В каждой стране мира мы выбираем только один, лучший банк. </div>
        <p class="text-small">В США это: СІТІ Bank, во Франции - BNP Paribas, в Великобритании Barclay's, в Китае ICBC, в каждой другой стране - также есть наш банк-партнер.</p>
        <form action="#" class="form-container">
            <div class="form-title m-5">Отправьте, пожалуйста, запрос</div>
            <div class="form-subtitle">Для  того, чтоб  узнать, какой банк в Вашей стране является нашим партнером.
            </div>
            <div class="form-fields">
                <textarea class="form-item form-item-country" name="countryAndCity" placeholder="Город и Страна, где планируете получить карту"></textarea>
                <input type="email" name="email" class="form-item" placeholder="Ваш E-mail">
                <div class="text-small-wrap">
                    <p class="text-small">*Советуем Вам регистрировать карту в стране, в которой Вы находитесь наибольшее количество дней.</p>
                </div>
                <input class="btn btn-red" type="submit" value="Отправить">
            </div>
        </form>
        <form action="#" class="form-container">
            <div class="form-title">Заполните форму</div>
            <div class="form-fields form-items">
                <input type="text" class="form-item" name="name" placeholder="Имя, Фамилия (Как в паспорте)">
                <textarea class="form-item" name="country" placeholder="Страна, в которой зарегистрирована  Ваша карта Мастеркард"></textarea>
                <textarea class="form-item" name="bank" placeholder="Банк, в котором зарегистрирована Ваша карта Мастеркард"></textarea>
                <input type="email" name="email" class="form-item" placeholder="Ваш E-mail">
                <input type="text" name="number" class="form-item" placeholder="Номер WhatsApp">
                <div class="w-100 form-container-btns">
                    <input class="btn btn-blue" type="submit" value="ПОЛУЧИТЬ КАРТУ">
                    <div class="text-logo">CCC <span>TM</span></div>
                </div>
            </div>
            <p class="text-medium">На Ваш E-mail будет отправлена дальнейшая инструкция.</p>
        </form>
    </div>
</div>