<div class="main-section">
    <div class="wrapper wrapper-l">
        <div class="main-section-layout">
            <div class="main-section-cnt">
                <div class="catalog-banner" style="background-image: url('./images/catalog-banner-item-1.jpg');">
                    <div class="catalog-country">
                        <div class="country-img"><img src="./images/ukraine.png" alt="ukraine"></div>
                        <div class="lang-trigger">
                            <div class="lang-active">Украина <img src="./images/arrow-bottom.svg" alt="arrow-bottom"></div>
                            <div class="lang-select">
                                <a href="#">Украина</a>
                                <a href="#">Украина</a>
                                <a href="#">Украина</a>
                            </div>
                        </div>
                        <div class="lang-trigger">
                            <div class="lang-active">Киев <img src="./images/arrow-bottom.svg" alt="arrow-bottom"></div>
                            <div class="lang-select">
                                <a href="#">Киев</a>
                                <a href="#">Киев</a>
                                <a href="#">Киев</a>
                            </div>
                        </div>
                    </div>
                    <div class="catalog-cnt">
                        <div class="catalog-cnt-image">
                            <img src="./images/catalog-image.jpg" alt="">
                        </div>
                        <div class="catalog-cnt-text">
                            <div class="show-more-wrap">
                                <span class="catalog-cnt-text-active">Киев - столица и крупнейший город Украины. <br>
                                    Расположен на реке Днепре, является центром Киевской агломерации. <br><a href="" class="show-more">Подробнее</a></span>
                                <span class="catalog-cnt-text-hidden">Отдельная административно-территориальная единица Украины; <br>
                                    культурный, политический, социально-экономический, транспортный, <br>
                                    научный и религиозный центр страны. Киев — административный центр <br>
                                    Киевской области и Киево-Святошинского района Киевской области, хотя <br>
                                    и не входит в их состав, имея особый правовой статус. Расположен на <br>
                                    севере центральной части Украины. Киев — седьмой по населению город <br>
                                    Европы после Стамбула, Москвы, Лондона, Санкт-Петербурга, Берлина 
                                    и Мадрида. 
                                </span>
                            </div>
                            <a href="#" class="btn btn-blue btn-small">Меню</a>
                        </div>
                    </div>
                </div>
            </div>
            //= ./newslist.html
            //= ./leftsidebar.html
        </div>
        <div class="info-list">
            <div class="info-list-item">
                <div class="info-list-item-title">Афиша</div>
                <div class="info-list-item-subtitle">Интересные мероприятия Киева, Украины и Мира</div>
                <div class="info-card-wrap">
                    <a href="" class="info-card">
                        <span class="info-card-img">
                            <img src="./images/card-img-1.png" alt="card-img">
                        </span>
                        <span class="info-card-cnt">
                            <span class="info-card-title">Премьера</span>
                            <span class="info-card-text">Двадцать пятый фильм <br> из серии фильмов о <br> Джеймсе Бонде.</span>
                            <span class="info-card-text">Мировая премьера <br>запланирована <br>на 3 апреля 2020 года. </span>
                        </span>
                    </a>
                    <a href="#" class="btn btn-blue">Другие предложения</a>
                </div>
            </div>
            <div class="info-list-item">
                <div class="info-list-item-title">Клифф ТУР </div>
                <div class="info-list-item-subtitle">Отправляем в любую точку планеты!</div>
                <div class="info-card-wrap">
                    <a href="" class="info-card">
                        <span class="info-card-img">
                            <img src="./images/card-img-2.png" alt="card-img">
                        </span>
                        <span class="info-card-cnt">
                            <span class="info-card-title">Отдых в Египте</span>
                            <span class="info-card-text">7 ночей,  <br> Всё включено.</span>
                        </span>
                    </a>
                    <a href="#" class="btn btn-blue">Другие предложения</a>
                </div>
            </div>
        </div>
        <div class="news-list news-list-tablet">
            <a href="#" class="news-head">Новости</a>
            <a href="#" class="news-item">
                <img src="./images/news-item-1.jpg" alt="news-item">
                <span class="news-title">
                    <span>Джастин Бибер: "Я не на наркотиках.  У меня болезнь Лайма"</span>
                </span>
            </a>
            <a href="#" class="news-item">
                <img src="./images/news-item-2.jpg" alt="news-item">
                <span class="news-title">
                    <span>Что такое 5G и когда технология  появится в Украине</span>
                </span>
            </a>
        </div>
    </div>
</div>