<div id="changePassPopup" class="popup-wrapper login-popup pass-popup">
    <div class="popup-layout">
        <div class="popup">
            <div class="popup-title popup-title-small">Смена пароля </div>
            <form action="#">
                <input type="email" name="email" class="form-item" placeholder="Введите Ваш E-mail">
                <input class="btn btn-blue change-pass-info" type="submit" value="Далее">
            </form>
            <div class="popup-close"><img src="./images/close.svg" alt="close"></div>
        </div>
    </div>
</div>
<div id="changePassInfoPopup" class="popup-wrapper login-popup pass-popup">
    <div class="popup-layout">
        <div class="popup">
            <div class="popup-title popup-title-small">Смена пароля </div>
            <p>На Ваш E-mail будет отправлена <br>  дальнейшая инструкция.   </p>
            <div class="popup-close"><img src="./images/close.svg" alt="close"></div>
        </div>
    </div>
</div>