<div class="main-section">
    <div class="wrapper wrapper-l">
        <div class="main-section-layout">
            <div class="main-section-cnt">
                <div class="compare-section section-cnt section-cnt-noright">
                    <div class="catalog-country">
                        <div class="country-img"><img src="./images/ukraine.png" alt="ukraine"></div>
                        <div class="lang-trigger">
                            <div class="lang-active">Украина <img src="./images/arrow-bottom.svg" alt="arrow-bottom"></div>
                            <div class="lang-select">
                                <a href="#">Украина</a>
                                <a href="#">Украина</a>
                                <a href="#">Украина</a>
                            </div>
                        </div>
                        <div class="lang-trigger">
                            <div class="lang-active">Киев <img src="./images/arrow-bottom.svg" alt="arrow-bottom"></div>
                            <div class="lang-select">
                                <a href="#">Киев</a>
                                <a href="#">Киев</a>
                                <a href="#">Киев</a>
                            </div>
                        </div>
                    </div>
                    <h1 class="section-title">Сравнение</h1>
                    <div class="breadcrumps">
                        <a href="./index.html">Главная</a>
                        <span class="breadcrumps-line">|</span>
                        <a href="./index.html">Список сравнений</a>
                        <span class="breadcrumps-line">|</span>
                        <a href="./index.html">Сравнение</a>
                        <span class="breadcrumps-line">|</span>
                        <span>Отели</span>
                    </div>
                    <div class="compare-list">
                        
                    </div>
                </div>
            </div>
            //= ./leftsidebar.html
        </div>
    </div>
</div>