<div class="main-section">
    <div class="wrapper wrapper-l">
        <div class="main-section-layout">
            <div class="main-section-cnt">
                <div class="compare-section section-cnt section-cnt-noright">
                    <div class="catalog-country">
                        <div class="country-img"><img src="./images/ukraine.png" alt="ukraine"></div>
                        <div class="lang-trigger link-trigger">
                            <div class="lang-active">Украина <img src="./images/arrow-bottom.svg" alt="arrow-bottom"></div>
                            <div class="lang-select">
                                <a href="./menu.html">Украина</a>
                                <a href="./menu.html">Украина</a>
                                <a href="./menu.html">Украина</a>
                            </div>
                        </div>
                        <div class="lang-trigger link-trigger">
                            <div class="lang-active">Киев <img src="./images/arrow-bottom.svg" alt="arrow-bottom"></div>
                            <div class="lang-select">
                                <a href="./menu.html">Киев</a>
                                <a href="./menu.html">Киев</a>
                                <a href="./menu.html">Киев</a>
                            </div>
                        </div>
                    </div>
                    <h1 class="section-title">Сравнение</h1>
                    <div class="breadcrumps">
                        <a href="./index.html">Главная</a>
                        <span class="breadcrumps-line">|</span>
                        <a href="./index.html">Список сравнений</a>
                        <span class="breadcrumps-line">|</span>
                        <a href="./index.html">Сравнение</a>
                        <span class="breadcrumps-line">|</span>
                        <span>Отели</span>
                    </div>
                    <div class="compare-list">
                        <div class="compare-list-head">
                            <div class="compare-list-head-item compare-list-column-2">Цена</div>
                            <div class="compare-list-head-item compare-list-column-3">Вес</div>
                            <div class="compare-list-head-item compare-list-column-4">Описание </div>
                        </div>
                        <div class="compare-list-items">
                            <div class="compare-list-item">
                                <div class="compare-list-item-column compare-list-column-1">
                                    <div class="section-sell-item section-sell-item-compare">
                                        <div class="section-sell-item-cnt">
                                            <div class="delete-compare-item"><img src="./images/close.svg" alt="close"></div>
                                            <div class="section-sell-item-head section-sell-item-head-alone">
                                                <a href="#" class="section-sell-item-title">Салат де маш <span>~ 125 uah</span></a>
                                                <div class="section-sell-item-weight">135 гр</div>
                                            </div>
                                            <p class="section-sell-item-text">Сыр-крем, вяленые томаты, маринованый рататуй, микс салата и руккола, помидоры черри.</p>
                                            <a href="#" class="btn btn-red">Заказать</a>
                                        </div>
                                        <div class="section-sell-item-img">
                                            <img src="./images/eat-img-11.png" alt="hotels-img">
                                            <span class="mark-item orange-mark">Torantino</span>
                                            <span class="star-item active">
                                                <svg class="star-item-active" width="31" height="31" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 511.22"><g><g><path d="M118.92,326.9l-27,165.7a16,16,0,0,0,23.53,16.58L256,431.48l140.59,77.72c11.52,6.4,25.71-3.29,23.53-16.58l-27-165.7L507.44,209.72a16,16,0,0,0-9-27l-157.4-24L270.47,8.42c-5.27-11.22-23.68-11.22-28.95,0L171,158.67l-157.4,24a16,16,0,0,0-9,27Z"/></g></g></svg>
                                                <svg class="star-item-noactive" width="31" height="31"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 511.98 511.2"><g><g><path d="M118.91,326.92l-27,165.7a16,16,0,0,0,23.53,16.58L256,431.5l140.59,77.72a16.21,16.21,0,0,0,7.74,2,16,16,0,0,0,15.79-18.58l-27-165.7L507.43,209.72a16,16,0,0,0-9-27l-157.4-24L270.46,8.42c-5.27-11.22-23.68-11.22-28.95,0L171,158.69l-157.4,24a16,16,0,0,0-9,27ZM184.25,189a16,16,0,0,0,12.05-9L256,52.85,315.68,180a15.94,15.94,0,0,0,12.05,9L462.8,209.63,364.56,310.33a16,16,0,0,0-4.35,13.76l23,141.16-119.51-66a16.11,16.11,0,0,0-7.74-2,15.88,15.88,0,0,0-7.74,2l-119.51,66,23-141.16a16,16,0,0,0-4.35-13.76L49.19,209.63Z"/></g></g></svg>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="compare-list-item-column compare-list-column-2">~ 125 uah </div>
                                <div class="compare-list-item-column compare-list-column-3">135 гр</div>
                                <div class="compare-list-item-column compare-list-column-4">Сыр-крем, вяленые томаты,  маринованый рататуй, микс салата и руккола, помидоры черри.</div>
                            </div>
                            <div class="compare-list-item">
                                <div class="compare-list-item-column compare-list-column-1">
                                    <div class="section-sell-item section-sell-item-compare">
                                        <div class="section-sell-item-cnt">
                                            <div class="delete-compare-item"><img src="./images/close.svg" alt="close"></div>
                                            <div class="section-sell-item-head section-sell-item-head-alone">
                                                <a href="#" class="section-sell-item-title">Салат Греческий <span>~ 94 uah</span></a>
                                                <div class="section-sell-item-weight">250 гр</div>
                                            </div>
                                            <p class="section-sell-item-text">Орегано, масло оливковое, огурец маслины, базилик, лук красный, перец болгарский, помидор, сыр фета</p>
                                            <a href="#" class="btn btn-red">Заказать</a>
                                        </div>
                                        <div class="section-sell-item-img">
                                            <img src="./images/eat-img-112.png" alt="hotels-img">
                                            <span class="mark-item orange-mark">Torantino</span>
                                            <span class="star-item active">
                                                <svg class="star-item-active" width="31" height="31" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 511.22"><g><g><path d="M118.92,326.9l-27,165.7a16,16,0,0,0,23.53,16.58L256,431.48l140.59,77.72c11.52,6.4,25.71-3.29,23.53-16.58l-27-165.7L507.44,209.72a16,16,0,0,0-9-27l-157.4-24L270.47,8.42c-5.27-11.22-23.68-11.22-28.95,0L171,158.67l-157.4,24a16,16,0,0,0-9,27Z"/></g></g></svg>
                                                <svg class="star-item-noactive" width="31" height="31"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 511.98 511.2"><g><g><path d="M118.91,326.92l-27,165.7a16,16,0,0,0,23.53,16.58L256,431.5l140.59,77.72a16.21,16.21,0,0,0,7.74,2,16,16,0,0,0,15.79-18.58l-27-165.7L507.43,209.72a16,16,0,0,0-9-27l-157.4-24L270.46,8.42c-5.27-11.22-23.68-11.22-28.95,0L171,158.69l-157.4,24a16,16,0,0,0-9,27ZM184.25,189a16,16,0,0,0,12.05-9L256,52.85,315.68,180a15.94,15.94,0,0,0,12.05,9L462.8,209.63,364.56,310.33a16,16,0,0,0-4.35,13.76l23,141.16-119.51-66a16.11,16.11,0,0,0-7.74-2,15.88,15.88,0,0,0-7.74,2l-119.51,66,23-141.16a16,16,0,0,0-4.35-13.76L49.19,209.63Z"/></g></g></svg>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="compare-list-item-column compare-list-column-2">~ 94 uah  </div>
                                <div class="compare-list-item-column compare-list-column-3">250 гр</div>
                                <div class="compare-list-item-column compare-list-column-4">Орегано, масло оливковое, огурец маслины, базилик, лук красный, перец болгарский, помидор, сыр фета</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            //= ./leftsidebar.html
        </div>
    </div>
</div>