<div id="exercisePopup" class="popup-wrapper">
    <div class="popup-layout">
        <div class="popup">
            <div class="popup-title popup-title-big">Дать задание</div>
            <p class="popup-text-m">Функция, позволяющая Вам быстро получить информацию и при желании - помощь от нас в решении любого вашего вопроса.</p>
            <p class="popup-text-s">Что угодно... от мелких задач, таких как повесить картину в квартире - до проведения сделки для Вас купли-продажи авто, квартиры и ВСЕГО прочего (причем в любой стране). Обязательно иногда смотрите примеры.  </p>
            <form action="#">
                <textarea class="textarea-field" name="exercise" cols="30" rows="2" placeholder="Дайте нам задание"></textarea>
                <input class="btn btn-red" type="submit" value="Готово">
            </form>
            <div class="popup-close"><img src="./images/close.svg" alt="close"></div>
        </div>
    </div>
</div>