<div class="main-section">
    <div class="wrapper wrapper-l">
        <div class="main-section-layout">
            <div class="main-section-cnt">
                <div class="hotels-section section-cnt section-cnt-noright">
                    <div class="catalog-country">
                        <div class="country-img"><img src="./images/ukraine.png" alt="ukraine"></div>
                        <div class="lang-trigger link-trigger">
                            <div class="lang-active">Украина <img src="./images/arrow-bottom.svg" alt="arrow-bottom"></div>
                            <div class="lang-select">
                                <a href="./menu.html">Украина</a>
                                <a href="./menu.html">Украина</a>
                                <a href="./menu.html">Украина</a>
                            </div>
                        </div>
                        <div class="lang-trigger link-trigger">
                            <div class="lang-active">Киев <img src="./images/arrow-bottom.svg" alt="arrow-bottom"></div>
                            <div class="lang-select">
                                <a href="./menu.html">Киев</a>
                                <a href="./menu.html">Киев</a>
                                <a href="./menu.html">Киев</a>
                            </div>
                        </div>
                    </div>
                    <h1 class="section-title">Отели</h1>
                    <div class="breadcrumps">
                        <a href="./index.html">Главная</a>
                        <span class="breadcrumps-line">|</span>
                        <a href="./index.html">Заведения</a>
                        <span class="breadcrumps-line">|</span>
                        <a href="./index.html">Апартоменты</a>
                        <span class="breadcrumps-line">|</span>
                        <span>Отели</span>
                    </div>
                    <div class="hotels-list">
                        <div class="hotel">
                            <div class="hotel-cnt">
                                <div class="hotel-head">
                                    <a href="./apartamentCard.html" class="hotel-title">InterContinental <br><span>~ 399$</span></a>
                                    <a href="#" class="hotel-map">Google maps</a>
                                </div>
                                <p class="hotel-text">Этот изысканный отель расположен в центре Киева, в 7 минутах ходьбы от площади Майдана Незалежности  и в 8 минутах ходьбы от Софийского собора, построенного в XI веке.</p>
                                <a href="#" class="btn btn-red btn-exercise">Дать задание</a>
                            </div>
                            <div class="hotel-img">
                                <img src="./images/hotels-img-1.png" alt="hotels-img">
                                <span class="mark-item">Лучший</span>
                            </div>
                        </div>
                        <div class="hotel">
                            <div class="hotel-cnt">
                                <div class="hotel-head">
                                    <a href="./apartamentCard.html" class="hotel-title">Fairmont Grand <br><span>~ 329$</span></a>
                                    <a href="#" class="hotel-map">Google maps</a>
                                </div>
                                <p class="hotel-text">Этот изысканный отель расположен 
                                    в центре Киева, в 7 минутах ходьбы 
                                    от площади Майдана Незалежности 
                                    и в 8 минутах ходьбы от Софийского 
                                    собора, построенного в XI веке.</p>
                                <a href="#" class="btn btn-red btn-exercise">Дать задание</a>
                            </div>
                            <div class="hotel-img">
                                <img src="./images/hotels-img-2.png" alt="hotels-img">
                                <span class="mark-item">Один ил лучших</span>
                            </div>
                        </div>
                        <div class="hotel">
                            <div class="hotel-cnt">
                                <div class="hotel-head">
                                    <a href="./apartamentCard.html" class="hotel-title">Hyatt regency <br><span>~ 429$</span></a>
                                    <a href="#" class="hotel-map">Google maps</a>
                                </div>
                                <p class="hotel-text">Этот изысканный отель расположен в центре Киева, в 7 минутах ходьбы от площади Майдана Незалежности  и в 8 минутах ходьбы от Софийского собора, построенного в XI веке.</p>
                                <a href="#" class="btn btn-red btn-exercise">Дать задание</a>
                            </div>
                            <div class="hotel-img">
                                <img src="./images/hotels-img-3.png" alt="hotels-img">
                                <span class="mark-item">Хороший</span>
                            </div>
                        </div>
                        <div class="hotel">
                            <div class="hotel-cnt">
                                <div class="hotel-head">
                                    <a href="./apartamentCard.html" class="hotel-title">Sheraton <br><span>~ 329$</span></a>
                                    <a href="#" class="hotel-map">Google maps</a>
                                </div>
                                <p class="hotel-text">Скоро открытие</p>
                                <a href="#" class="btn btn-red btn-exercise">Дать задание</a>
                            </div>
                            <div class="hotel-img">
                                <img src="./images/hotels-img-4.png" alt="hotels-img">
                                <span class="mark-item">Цена/качество</span>
                            </div>
                        </div>
                        <div class="hotel">
                            <div class="hotel-cnt">
                                <div class="hotel-head">
                                    <a href="./apartamentCard.html" class="hotel-title">InterContinental <br><span>~ 399$</span></a>
                                    <a href="#" class="hotel-map">Google maps</a>
                                </div>
                                <p class="hotel-text">Этот изысканный отель расположен в центре Киева, в 7 минутах ходьбы от площади Майдана Незалежности  и в 8 минутах ходьбы от Софийского собора, построенного в XI веке.</p>
                                <a href="#" class="btn btn-red btn-exercise">Дать задание</a>
                            </div>
                            <div class="hotel-img">
                                <img src="./images/hotels-img-5.png" alt="hotels-img">
                                <span class="mark-item">Лучший</span>
                            </div>
                        </div>
                        <div class="hotel">
                            <div class="hotel-cnt">
                                <div class="hotel-head">
                                    <a href="./apartamentCard.html" class="hotel-title">Fairmont Grand <br><span>~ 329$</span></a>
                                    <a href="#" class="hotel-map">Google maps</a>
                                </div>
                                <p class="hotel-text">Этот изысканный отель расположен в центре Киева, в 7 минутах ходьбы от площади Майдана Незалежности  и в 8 минутах ходьбы от Софийского собора, построенного в XI веке.</p>
                                <a href="#" class="btn btn-red btn-exercise">Дать задание</a>
                            </div>
                            <div class="hotel-img">
                                <img src="./images/hotels-img-5.png" alt="hotels-img">
                                <span class="mark-item">Один ил лучших</span>
                            </div>
                        </div>
                    </div>
                    //= ./pagination.html
                </div>
            </div>
            //= ./leftsidebar.html
        </div>
    </div>
</div>