<div class="left-sidebar">
    <div class="catalog-country">
        <div class="country-img"><img src="./images/ukraine.png" alt="ukraine"></div>
        <div class="lang-trigger">
            <div class="lang-active">Украина <img src="./images/arrow-bottom.svg" alt="arrow-bottom"></div>
            <div class="lang-select">
                <a href="#">Украина</a>
                <a href="#">Украина</a>
                <a href="#">Украина</a>
            </div>
        </div>
        <div class="lang-trigger">
            <div class="lang-active">Киев <img src="./images/arrow-bottom.svg" alt="arrow-bottom"></div>
            <div class="lang-select">
                <a href="#">Киев</a>
                <a href="#">Киев</a>
                <a href="#">Киев</a>
            </div>
        </div>
    </div>
    <ul class="left-sidebar-menu">
        <li class="left-sidebar-menu-btn"><a href="#" class="btn btn-red">Дать задание</a></li>
        <li>
            <span class="left-sidebar-link">
                <span>Заведения</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.94 4.95"><defs><style>.cls-1{fill:#fff;}</style></defs><g><g><path class="cls-1" d="M8.17.08l-3.7,3.8L.78.08a.85.85,0,0,0-.7,0,.85.85,0,0,0,0,.7l4,4.1h0a.85.85,0,0,0,.7,0l4-4.1a.62.62,0,0,0,.1-.7A.85.85,0,0,0,8.17.08Z"/></g></g></svg>
            </span>
            <ul class="sidebar-menu-hidden">
                <li>
                    <span class="sidebar-menu-hidden-link"><span>Одежда, часы,  аксессуары</span> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.94 4.95"><defs><style>.cls-1{fill:#fff;}</style></defs><g><g><path class="cls-1" d="M8.17.08l-3.7,3.8L.78.08a.85.85,0,0,0-.7,0,.85.85,0,0,0,0,.7l4,4.1h0a.85.85,0,0,0,.7,0l4-4.1a.62.62,0,0,0,.1-.7A.85.85,0,0,0,8.17.08Z"/></g></g></svg></span>
                    <ul class="menu-hidden-second">
                        <li class="menu-hidden-second-category">Заголовок</li>
                        <li><a href="#">Аквапарк</a></li>
                        <li><a href="#">Пляж</a></li>
                        <li><a href="#">Бассейн</a></li>
                        <li><a href="#">Финская сауна</a></li>
                        <li><a href="#">Русская баня на природе</a></li>
                        <li><a href="#">Японская баня Офуро</a></li>
                        <li><a href="#">Детский развлекательный центр</a></li>
                        <li><a href="#">Кинотеатр </a></li>
                        <li><a href="#">Оперный театр</a></li>
                        <li><a href="#">Боулинг</a></li>
                        <li><a href="#">Бильярд</a></li>
                        <li><a href="#">Картинг </a></li>
                        <li><a href="#">Гольф </a></li>
                        <li><a href="#">Зоопарк</a></li>
                        <li><a href="#">Парк </a></li>
                        <li><a href="#">Кони </a></li>
                        <li><a href="#">Прогулки на яхте</a></li>
                        <li><a href="#">Шахматы </a></li>
                        <li><a href="#">Тир </a></li>
                        <li><a href="#">Пейнтбол,  гидроцикл, Настольный теннис и другое</a></li>
                        <li><a href="#">Дартс</a></li>
                        <li><a href="#">Коньки</a></li>
                        <li><a href="#">Ролики</a></li>
                        <li><a href="#">Лыжи, Сноуборд (зимний период)</a></li>
                        <li><a href="#">Скалодром, альпинизм</a></li>
                        <li><a href="#">Компьютерный клуб </a></li>
                        <li class="menu-hidden-second-category">Заголовок</li>
                        <li><a href="#">Playstation/Настольные игры</a></li>
                        <li><a href="#">Рыбалка </a></li>
                        <li><a href="#">Охота</a></li>
                        <li><a href="#">Аттракцион </a></li>
                        <li><a href="#">Quest Rooms</a></li>
                    </ul>
                </li>
                <li>
                    <span class="sidebar-menu-hidden-link"><span>Цветы и подарки</span> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.94 4.95"><defs><style>.cls-1{fill:#fff;}</style></defs><g><g><path class="cls-1" d="M8.17.08l-3.7,3.8L.78.08a.85.85,0,0,0-.7,0,.85.85,0,0,0,0,.7l4,4.1h0a.85.85,0,0,0,.7,0l4-4.1a.62.62,0,0,0,.1-.7A.85.85,0,0,0,8.17.08Z"/></g></g></svg></span>
                </li>
                <li>
                    <span class="sidebar-menu-hidden-link"><span>Для дома и сада</span> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.94 4.95"><defs><style>.cls-1{fill:#fff;}</style></defs><g><g><path class="cls-1" d="M8.17.08l-3.7,3.8L.78.08a.85.85,0,0,0-.7,0,.85.85,0,0,0,0,.7l4,4.1h0a.85.85,0,0,0,.7,0l4-4.1a.62.62,0,0,0,.1-.7A.85.85,0,0,0,8.17.08Z"/></g></g></svg></span>
                </li>
                <li>
                    <span class="sidebar-menu-hidden-link"><span>Спорт-товары</span> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.94 4.95"><defs><style>.cls-1{fill:#fff;}</style></defs><g><g><path class="cls-1" d="M8.17.08l-3.7,3.8L.78.08a.85.85,0,0,0-.7,0,.85.85,0,0,0,0,.7l4,4.1h0a.85.85,0,0,0,.7,0l4-4.1a.62.62,0,0,0,.1-.7A.85.85,0,0,0,8.17.08Z"/></g></g></svg></span>
                </li>
                <li>
                    <span class="sidebar-menu-hidden-link"><span>Строительство  и ремонт</span> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.94 4.95"><defs><style>.cls-1{fill:#fff;}</style></defs><g><g><path class="cls-1" d="M8.17.08l-3.7,3.8L.78.08a.85.85,0,0,0-.7,0,.85.85,0,0,0,0,.7l4,4.1h0a.85.85,0,0,0,.7,0l4-4.1a.62.62,0,0,0,.1-.7A.85.85,0,0,0,8.17.08Z"/></g></g></svg></span>
                </li>
                <li>
                    <span class="sidebar-menu-hidden-link"><span>Агентство  недвижимости</span> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.94 4.95"><defs><style>.cls-1{fill:#fff;}</style></defs><g><g><path class="cls-1" d="M8.17.08l-3.7,3.8L.78.08a.85.85,0,0,0-.7,0,.85.85,0,0,0,0,.7l4,4.1h0a.85.85,0,0,0,.7,0l4-4.1a.62.62,0,0,0,.1-.7A.85.85,0,0,0,8.17.08Z"/></g></g></svg></span>
                </li>
                <li>
                    <span class="sidebar-menu-hidden-link"><span>Эксклюзив/Аукционы</span> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.94 4.95"><defs><style>.cls-1{fill:#fff;}</style></defs><g><g><path class="cls-1" d="M8.17.08l-3.7,3.8L.78.08a.85.85,0,0,0-.7,0,.85.85,0,0,0,0,.7l4,4.1h0a.85.85,0,0,0,.7,0l4-4.1a.62.62,0,0,0,.1-.7A.85.85,0,0,0,8.17.08Z"/></g></g></svg></span>
                </li>
                <li>
                    <span class="sidebar-menu-hidden-link"><span>Безопасность</span> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.94 4.95"><defs><style>.cls-1{fill:#fff;}</style></defs><g><g><path class="cls-1" d="M8.17.08l-3.7,3.8L.78.08a.85.85,0,0,0-.7,0,.85.85,0,0,0,0,.7l4,4.1h0a.85.85,0,0,0,.7,0l4-4.1a.62.62,0,0,0,.1-.7A.85.85,0,0,0,8.17.08Z"/></g></g></svg></span>
                </li>
                <li>
                    <span class="sidebar-menu-hidden-link"><span>Детский мир</span> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.94 4.95"><defs><style>.cls-1{fill:#fff;}</style></defs><g><g><path class="cls-1" d="M8.17.08l-3.7,3.8L.78.08a.85.85,0,0,0-.7,0,.85.85,0,0,0,0,.7l4,4.1h0a.85.85,0,0,0,.7,0l4-4.1a.62.62,0,0,0,.1-.7A.85.85,0,0,0,8.17.08Z"/></g></g></svg></span>
                </li>
                <li>
                    <span class="sidebar-menu-hidden-link"><span>Транспорт</span> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.94 4.95"><defs><style>.cls-1{fill:#fff;}</style></defs><g><g><path class="cls-1" d="M8.17.08l-3.7,3.8L.78.08a.85.85,0,0,0-.7,0,.85.85,0,0,0,0,.7l4,4.1h0a.85.85,0,0,0,.7,0l4-4.1a.62.62,0,0,0,.1-.7A.85.85,0,0,0,8.17.08Z"/></g></g></svg></span>
                </li>
                <li>
                    <span class="sidebar-menu-hidden-link"><span>Туризм и кемпинг</span> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.94 4.95"><defs><style>.cls-1{fill:#fff;}</style></defs><g><g><path class="cls-1" d="M8.17.08l-3.7,3.8L.78.08a.85.85,0,0,0-.7,0,.85.85,0,0,0,0,.7l4,4.1h0a.85.85,0,0,0,.7,0l4-4.1a.62.62,0,0,0,.1-.7A.85.85,0,0,0,8.17.08Z"/></g></g></svg></span>
                </li>
                <li>
                    <span class="sidebar-menu-hidden-link"><span>Рыбалка и Охота</span> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.94 4.95"><defs><style>.cls-1{fill:#fff;}</style></defs><g><g><path class="cls-1" d="M8.17.08l-3.7,3.8L.78.08a.85.85,0,0,0-.7,0,.85.85,0,0,0,0,.7l4,4.1h0a.85.85,0,0,0,.7,0l4-4.1a.62.62,0,0,0,.1-.7A.85.85,0,0,0,8.17.08Z"/></g></g></svg></span>
                </li>
            </ul>
        </li>
        <li>
            <span class="left-sidebar-link">
                <span>Доставка</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.94 4.95"><defs><style>.cls-1{fill:#fff;}</style></defs><g><g><path class="cls-1" d="M8.17.08l-3.7,3.8L.78.08a.85.85,0,0,0-.7,0,.85.85,0,0,0,0,.7l4,4.1h0a.85.85,0,0,0,.7,0l4-4.1a.62.62,0,0,0,.1-.7A.85.85,0,0,0,8.17.08Z"/></g></g></svg>
            </span>
        </li>
        <li>
            <span class="left-sidebar-link">
                <span>Магазины</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.94 4.95"><defs><style>.cls-1{fill:#fff;}</style></defs><g><g><path class="cls-1" d="M8.17.08l-3.7,3.8L.78.08a.85.85,0,0,0-.7,0,.85.85,0,0,0,0,.7l4,4.1h0a.85.85,0,0,0,.7,0l4-4.1a.62.62,0,0,0,.1-.7A.85.85,0,0,0,8.17.08Z"/></g></g></svg>
            </span>
        </li>
        <li>
            <span class="left-sidebar-link">
                <span>Услуги</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.94 4.95"><defs><style>.cls-1{fill:#fff;}</style></defs><g><g><path class="cls-1" d="M8.17.08l-3.7,3.8L.78.08a.85.85,0,0,0-.7,0,.85.85,0,0,0,0,.7l4,4.1h0a.85.85,0,0,0,.7,0l4-4.1a.62.62,0,0,0,.1-.7A.85.85,0,0,0,8.17.08Z"/></g></g></svg>
            </span>
        </li>
        <li>
            <span class="left-sidebar-link">
                <span>ТОП</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.94 4.95"><defs><style>.cls-1{fill:#fff;}</style></defs><g><g><path class="cls-1" d="M8.17.08l-3.7,3.8L.78.08a.85.85,0,0,0-.7,0,.85.85,0,0,0,0,.7l4,4.1h0a.85.85,0,0,0,.7,0l4-4.1a.62.62,0,0,0,.1-.7A.85.85,0,0,0,8.17.08Z"/></g></g></svg>
            </span>
        </li>
    </ul>
</div>