<div id="loginPopup" class="popup-wrapper login-popup">
    <div class="popup-layout">
        <div class="popup">
            <div class="popup-title popup-title-small">Войти</div>
            <form action="#">
                <input type="email" name="email" class="form-item" placeholder="Ваш E-mail">
                <input type="password" name="password" class="form-item no-margin" placeholder="Пароль">
                <div class="login-popup-links">
                    <a class="change-password-trigger" href="#">Забыли пароль</a>
                    <span>|</span>
                    <a href="./card.html">Заказать карту</a>
                </div>
                <input class="btn btn-blue btn-submit" type="submit" value="Вход">
            </form>
            <div class="popup-close"><img src="./images/close.svg" alt="close"></div>
        </div>
    </div>
</div>