<div class="banner-carousel owl-carousel">
    <div class="banner-item banner-item-1" style="background-image: url('./images/banner-item-1.jpg');">
        <div class="wrapper">
            <div class="title">ЗАКАЗЫВАЙТЕ</div>
            <div class="subtitle">ПРОДУКТЫ, АПТЕКУ ТЕХНИКУ, АВТОМОБИЛЬ, ВСЕ ЧТО УГОДНО</div>
            <p>Доставка от 30 минут (местная) и всего от 1-го до 4 дней (международная)</p>
            <a href="./about.html" class="btn btn-red">Подробнее о нас</a>
        </div>
    </div>
    <div class="banner-item banner-item-2" style="background-image: url('./images/banner-item-2.jpg');">
        <div class="wrapper">
            <div class="title">ВЫ ЗАЩИЩЕНЫ</div>
            <p>От Нью Йорка до Бангкока. В любой точке мира, <br>  даже в пустыне, океане и в воздухе.</p>
            <a href="./about.html" class="btn btn-red">Подробнее о нас</a>
        </div>
    </div>
    <div class="banner-item banner-item-3" style="background-image: url('./images/banner-item-3.jpg');">
        <div class="wrapper">
            <p>Что-бы Вы не покупали, какую-бы услугу не заказывали -<br> теперь Мы сделаем это за Вас, дешевле и с</p>
            <div class="title">ГАРАНТИЕЙ!</div>
            <a href="./about.html" class="btn btn-red">Подробнее о нас</a>
        </div>
    </div>
</div>
<div class="offer-block">
    <div class="wrapper">
        <h2>Как заказать карту <span>в Вашем городе/стране </span></h2>
        <a href="./card.html" class="btn btn-blue">Инструкция</a>
    </div>
</div>