<div class="news-list news-list-pc">
    <div class="news-head">
        <a href="">Новости</a>
    </div>
    <a href="#" class="news-item">
        <img src="./images/news-item-1.jpg" alt="news-item">
        <span class="news-title">
            <span>Джастин Бибер: "Я не на наркотиках.  У меня болезнь Лайма"</span>
        </span>
    </a>
    <a href="#" class="news-item">
        <img src="./images/news-item-2.jpg" alt="news-item">
        <span class="news-title">
            <span>Что такое 5G и когда технология  появится в Украине</span>
        </span>
    </a>
</div>